/*******************************************************************************
 * Styles for silliest of geese.
 ******************************************************************************/

.silly-goose{
  display: none;
}
.serious-goose{
  display: none;
}

.hide-after-secrets{
  display: none;
}

.reveal-after-secrets{
  display: none;
}

.hidden_until_touch {
  opacity:0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reveal-after-toe-losses{
  display: none;
}

.reveal-after-toe-ties{
  display: none;
}

.reveal-after-toe-wins{
  display: none;
}

.reveal-after-toe-games{
  display: none;
}

.reveal-after-toe-score{
  display: none;
}


.hide-after-toe-losses{
  display: none;
}

.hide-after-toe-ties{
  display: none;
}

.hide-after-toe-wins{
  display: none;
}

.hide-after-toe-games{
  display: none;
}

.hide-after-toe-score{
  display: none;
}